obj/
obj_static/
lib_parser_obj/
bin/
experiments/
include/
samples/
lib/**
!lib/std_lib/
!lib/std_lib/**
src_reference/
sys_lib/
Dockerfile
Makefile_*
foo.nk
foo_backup.nk
foo.nv
foo_backup.nv
.build_flag
mall.sh
*backup/
*.csv
*.txt
*.nk
*.nv
*.py
*.o
